.container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
  
  .display-form {
    background: rgb(250, 247, 247);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0);
  }
  
  .display-form h2 {
    text-align: center;
  }
  
  .display-form ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .display-form li {
    margin-bottom: 8px;
    font-weight: 500;
  }
  
  body {
    font-family: Palatino, sans-serif;
    background: #e9b9de;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  form {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
  }

  
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .gender-options {
    display: flex;
    gap: 10px;
  }
  
  .checkbox {
    display: flex;
    align-items: center;
  }
  
  .checkbox input {
    width: auto;
    margin-right: 10px;
  }
  
  button {
    background-color: #483d8b;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #218838;
  }


/* Specific styles for the back button */




